
:root{
    /**/

    /*background*/
    --background-color:rgb(255, 255, 255);

    /**/
    width: 100vw;
    height: 100vh;
    overflow: scroll;
    /**/
    
}

@import '../../../node_modules/bootstrap/scss/bootstrap';
