.console-main-design {
  color: black;
  background-color: antiquewhite;
  width: 100vw;
  height: 100vh;
  overflow: scroll;

  /* ---- DISEÑO DE LA CONSOLA  -----*/
  .top-bar{
    .button-start{
      width: 5vw;
      height: 1.8vh;
      border: 2px solid black;
      border-bottom: 0px;
      border-radius: 15px 15px 0px 0px;
      background-color: rgb(95, 93, 93);
      color: antiquewhite;
    }
  }
  .console-design {
    margin-top: 20vh;
    height: 32vh;
    width: 96vw;

    //MANDO IZQUIERDO
    .left-controller {
      border: 3px solid black;
      border-radius: 40px 10px 10px 40px;
      background-color: aqua;
      
      .botton-low{
        background-color: rgb(0, 0, 0);
        width: 3vw;
        height: 1vh;
        margin-top: 2vh;
      }
      .botton-low:hover{
        cursor: pointer;
      }
      .left-joystick{
        margin-top: 3vh;
        max-width: 5vw;
        height: 5vh;
        border-radius: 100%;
        background-color: black;

        .center-left-joystick{
          margin-top: 0.5vh;
          max-width: 80%;
          margin-left: 10%;
          height: 4vh;
          background-color: rgba(119, 136, 153, 0.331);
          border-radius: 100%;
        }
      }
      .buttons-arrows{
        margin-top: 3vh;
        p{
          color: aliceblue;
          text-align: center;
          background-color: black;
          padding: 0.3vw;
          width: 2.5vw;
          border-radius: 100%;
        }
      }
      .botton-cube{
        background-color: rgb(0, 0, 0);
        width: 30px;
        height: 30px;
        border-radius: 10px;
        .circle-cube{
          margin-top: 0.5vh;
          max-width: 17px;
          max-height: 20px;
          height: 20px;
          background-color: rgba(119, 136, 153, 0.463);
          border-radius: 100%;
        }
      }
    }

    .menu-design {
      border: 3px solid black;
      border-radius: 10px;
      background-color: rgba(0, 0, 0, 0.591);

      .display {
        height: 30vh;
        margin: 1vh;
        margin-left: 1.5vh;
        margin-right: 1.5vh;
        background-color: black;
        color: aliceblue;
        text-align: center;

        .logo-nintendo{
          padding: 0.3vw;
          padding-left: 1vw;
          padding-right: 1vw;
          border: 2px solid aliceblue;
          border-radius: 20vw;
        }
      }
    }
    .right-controller {
      border: 3px solid black;
      border-radius: 10px 40px 40px 10px;
      background-color: rgb(0, 255, 30);
    }
  }
}
@media (max-width: 800px) {
  .console-main-design {
    .rotate-message {
      width: 100vw;
      height: 100vh;
      padding-right: 10vw;
      display: flex;
      flex-direction: column;
      justify-content: center;
      vertical-align: middle;
      background-color: black;
      color: aliceblue;
      text-align: center;
      @keyframes rotate {
        from {
          transform: rotate(0deg);
        }
        to {
          transform: rotate(360deg);
        }
      }
      .rotate-arrows {
        margin-top: 5vh;
        font-size: 30vw;
        animation: rotate 3s linear infinite;
      }
    }
    /* ---- DISEÑO DE LA CONSOLA EN DISPOSITIVOS MOVILES -----*/
    .top-bar{
      .button-start{
        color:rgba(95, 93, 93, 0) ;
        width: 7vw;
        height: 2vh;
      }
    }
    .console-design {
      margin-top: 15vh;
      height: 60vh;
      width: 100vw;
      .left-controller {
        border: 2px solid black;
        border-radius: 25px 5px 5px 25px;
      }
      .menu-design {
        border: 2px solid black;
        border-radius: 10px;
        .display {
          width: 20vw;
          height: 60vh;
          margin: 1vw;
        }
      }
      .right-controller {
        border: 2px solid black;
        border-radius: 5px 25px 25px 5px;
      }
    }
  }
}
