.console-main-design {
  color: black;
  background-color: antiquewhite;
  width: 100vw;
  height: 100vh;
  overflow: scroll;

  /* ---- DISEÑO DE LA CONSOLA  -----*/
  .top-bar {
    .button-start {
      width: 65px;
      height: 25px;
      border: 2px solid black;
      border-bottom: 0px;
      border-radius: 15px 15px 0px 0px;
      background-color: rgb(95, 93, 93);
      color: antiquewhite;
    }
  }
  .console-design {
    margin-top: 20vh;
    height: 436px;
    width: 1350px;

    //MANDO IZQUIERDO
    .left-controller {
      border: 3px solid black;
      border-radius: 40px 10px 10px 40px;
      background-color: aqua;

      .botton-low {
        background-color: rgb(0, 0, 0);
        width: 50px;
        height: 15px;
        margin-top: 20px;
      }
      .botton-low:hover {
        cursor: pointer;
      }
      .left-joystick {
        margin-top: 25px;
        max-width: 80px;
        height: 80px;
        border-radius: 100%;
        background-color: black;

        .center-left-joystick {
          margin-top: 5px;
          margin-left: 5px;
          max-width: 70px;
          height: 70px;
          background-color: rgba(119, 136, 153, 0.331);
          border-radius: 100%;
        }
      }
      .buttons-arrows {
        margin-top: 25px;
        .arrows {
          width: 30px;
          height: 30px;
          display: flex;
          justify-content: center;
          align-items: center;
          vertical-align: middle;
          background-color: black;
          border-radius: 100%;
          margin: 8px;
          p {
            color: rgb(0, 0, 0);
            padding-top: 15px;
          }
        }
      }
      .botton-cube {
        margin-top: 25px;
        background-color: rgb(0, 0, 0);
        width: 40px;
        height: 30px;
        border-radius: 10px;
        .circle-cube {
          margin-top: 5px;
          width: 20px;
          height: 20px;
          margin-left: -2px;
          background-color: rgba(119, 136, 153, 0.463);
          border-radius: 100%;
        }
      }
    }

    .menu-design {
      border: 3px solid black;
      border-radius: 10px;
      background-color: rgba(0, 0, 0, 0.591);

      .display {
        height: 400px;
        margin: 15px;
        margin-left: 15px;
        margin-right: 15px;
        background-color: black;
        color: aliceblue;
        text-align: center;
        overflow: scroll;
        border-radius: 2px;
        .logo-nintendo {
          padding: 3px;
          padding-left: 10px;
          padding-right: 10px;
          border: 2px solid aliceblue;
          border-radius: 50px;
          margin-top: 160px;
        }
        .cell-menu {
          margin-top: 15px;
          margin-bottom: 15px;
          border-radius: 10px;
          border-bottom: 2px solid rgba(99, 99, 99, 0.406);
          .menu-options {
            color: black;
            font-size: 1.2rem;
            padding-top: 5px;
          }
        }
        .selected {
          border: 2px solid transparent;
          background: linear-gradient(45deg, #00f7ff32, #56e52e2e);
          border-radius: 10px;
          transition: transform 0.3s ease, box-shadow 0.3s ease; 
          transform: translateY(-2px) scale(1.05);
          box-shadow: 0 6px 10px rgba(0, 0, 0, 0.2);
        }
      }
    }
    .right-controller {
      border: 3px solid black;
      border-radius: 10px 40px 40px 10px;
      background-color: rgb(0, 255, 30);

      .botton-plus {
        .botton-plus-bar-horizontal {
          background-color: rgb(2, 2, 2);
          width: 40px;
          height: 12px;
          margin-top: 24px;
        }
        .botton-plus-bar-vertical {
          background-color: rgb(0, 0, 0);
          height: 40px;
          padding: 0px;
          width: 12px;
          margin-top: 10px;
          margin-left: -26px;
        }
        .botton-plus-hover:hover {
          cursor: pointer;
        }
      }

      .buttons-ABXY {
        margin-top: 25px;
        .abxy {
          width: 30px;
          height: 30px;
          display: flex;
          justify-content: center;
          align-items: center;
          vertical-align: middle;
          background-color: black;
          border-radius: 100%;
          margin: 8px;
          p {
            color: rgb(0, 0, 0);
            padding-top: 15px;
          }
        }
      }

      .right-joystick {
        margin-top: 25px;
        max-width: 80px;
        height: 80px;
        border-radius: 100%;
        background-color: black;

        .center-right-joystick {
          margin-top: 5px;
          margin-left: 5px;
          max-width: 70px;
          height: 70px;
          background-color: rgba(119, 136, 153, 0.331);
          border-radius: 100%;
        }
      }
      .right-button-home {
        margin-top: 25px;
        max-width: 40px;
        height: 40px;
        border-radius: 100%;
        background-color: black;
        margin-left: 20px;
        .right-home {
          margin-top: 5px;
          margin-left: 5px;
          max-width: 30px;
          height: 30px;
          background-color: rgba(119, 136, 153, 0.331);
          border-radius: 100%;
          .home {
            margin-left: -6px;
            margin-top: 5px;
            color: rgb(0, 0, 0);
          }
        }
      }
    }
  }
}
@media (max-width: 800px) {
  .console-main-design {
    margin-top: 0vh;
    .rotate-message {
      width: 100vw;
      height: 100vh;
      padding-right: 2vw;
      padding-left: 2vw;
      display: flex;
      flex-direction: column;
      justify-content: center;
      vertical-align: middle;
      background-color: black;
      color: aliceblue;
      text-align: center;
      @keyframes rotate {
        from {
          transform: rotate(0deg);
        }
        to {
          transform: rotate(360deg);
        }
      }
      .rotate-arrows {
        margin-top: 5vh;
        font-size: 30vw;
        animation: rotate 3s linear infinite;
      }
    }
    /* ---- DISEÑO DE LA CONSOLA EN DISPOSITIVOS MOVILES -----*/
    .top-bar {
      margin-top: 10vh;
      .button-start {
        color: rgba(95, 93, 93, 0);
        width: 50px;
        height: 12px;
      }
    }
    .console-design {
      margin-top: 0vh;
      height: 260px;
      width: 98vw;
      .left-controller {
        border: 2px solid black;
        border-radius: 25px 5px 5px 25px;
        .botton-low {
          margin-top: 20px;
          width: 15px;
          height: 8px;
          margin-right: 10px;
        }
        .left-joystick {
          margin-top: 15px;
          max-width: 40px;
          height: 40px;
          .center-left-joystick {
            width: 30px;
            height: 30px;
            padding: 5px;
            margin: 5px;
            background-color: rgba(255, 255, 255, 0.331);
          }
        }
        .buttons-arrows {
          margin-top: 18px;
          .arrows {
            width: 18px;
            height: 18px;
            margin: 2px;
            padding: 0px;
            p {
              font-size: 0.8rem;
              padding-top: 15px;
            }
          }
        }
        .botton-cube {
          margin-right: 8px;
          border-radius: 5px;
          height: 20px;
          max-width: 14px;
          .circle-cube {
            background-color: rgba(240, 248, 255, 0.57);
            width: 12px;
            height: 12px;
            margin: 1px;
            margin-top: 4px;
            margin-left: -6px;
            padding: 0;
          }
        }
      }
      .menu-design {
        border: 2px solid black;
        border-radius: 10px;
        .display {
          height: 240px;
          margin: 1vw;
        }
      }
      .right-controller {
        border: 2px solid black;
        border-radius: 5px 25px 25px 5px;

        .botton-plus {
          .botton-plus-bar-horizontal {
            width: 15px;
            height: 8px;
            margin-top: 20px;
            margin-left: 10px;
          }
          .botton-plus-bar-vertical {
            height: 20px;
            width: 8px;
            margin-top: 14px;
            margin-left: -16px;
          }
        }

        .buttons-ABXY {
          margin-top: 15px;
          .abxy {
            width: 18px;
            height: 18px;
            margin: 2px;
            padding: 0px;
            p {
              font-size: 0.8rem;
              padding-top: 15px;
            }
          }
        }

        .right-joystick {
          margin-top: 15px;
          max-width: 40px;
          height: 40px;

          .center-right-joystick {
            width: 30px;
            height: 30px;
            padding: 5px;
            margin: 5px;
            background-color: rgba(255, 255, 255, 0.331);
          }
        }
        .right-button-home {
          margin-top: 15px;
          max-width: 23px;
          height: 23px;
          margin-left: 10px;
          .right-home {
            margin-top: 5px;
            margin-left: 5px;
            max-width: 15px;
            height: 15px;
            padding: 0;
            .home {
              margin-left: -1px;
              font-size: 0.9rem;
              position: relative;
              top: -7px;
            }
          }
        }
      }
    }
  }
}
